@model Ecommerce.Models.Produto

@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                            src="~/img/product/@Model.Imagem" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Nome</h3>
                    <span>In Stock</span>
                    <div class="product__details__price">@Model.Preco.ToString("c")</div>
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                        vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                        quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>
                    <a href="/Pedido/Update/@Model.ProdutoId" class="primary-btn">ADD TO CARD</a>
                    <a href="#" class="heart-icon"><i class="fa fa-heart"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>