@model List<Ecommerce.Models.Produto>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        @foreach(var produto in Model)
        {
            <tr>
                <td>@produto.ProdutoId</td>
                <td>@produto.Nome</td>
            </tr>
        }
    </table>
</body>
</html>